footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	a {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
	}
	.scroll-top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h2 {
			transition: all 0.5s ease;
			padding-bottom: 2rem;
			padding-top: 1rem;
			&:hover {
				color: red;
			}
		}
	}

	.footer-steps {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		align-items: center;
		border-top: 1px solid;
		flex-wrap: wrap;
	}
	.footer-step {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 5px;
		cursor: pointer;
		transition: all 0.2s;
		&:hover {
			color: #a20a0c;
		}
		img {
			padding-right: 10px;
		}
	}
	.end {
		height: 30vh;
		width: 100%;
		background: #a20a0c;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		color: white;
		p {
			padding-top: 1rem;
		}
	}
}
