header {
	background: red;
	display: flex;
	align-items: center;
	height: 60px;
	.header-items {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;

		.header-item {
			padding: 5px 10px;
			color: white;
			margin: 10px;
			cursor: pointer;
			transition: all 0.2s;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
	.header-logo {
		padding-left: 1rem;
		width: 200px;
		height: 100%;
		display: flex;
		align-items: center;
		img {
			width: 100%;
			// height: 100%;
			object-fit: contain;
		}
	}
	.header-menu {
		height: 60px;
		width: 60px;
		margin-right: 0;
		background: #3e312b;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		color: white;
		padding: 10px;
		cursor: pointer;
		p {
			font-size: 10px;
		}
		&:hover p {
			transform: scale(1.2);
		}
		img {
			height: 4vh;
			object-fit: contain;
		}
	}
}

@media (max-width: 960px) {
	header .header-items {
		display: none;
	}
	.header-menu {
		margin-left: auto;
	}
}
